/* General Style */
body {
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #e1edf0; 
    font-family: 'Roboto', Arial, sans-serif;
    }

    button, .btn {
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 0.5rem 1.5rem;
        border-radius: 0.25rem;
        background-color: #8fc0c7;
        transition: 0.3s;
      }
      
      button:hover, .btn:hover {
        background-color: #75acb4; 
      }

      input {
        width: 330px;
        padding: 12px 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        outline: none;
        }

        input:focus {
            border-color: #75acb4; /* MUI primary color */
            box-shadow: 0 0 5px #75acb4; /* Focus shadow */
        }

        input:hover {
            border-color: #8fc0c7; /* Darker border on hover */
        }

        input::placeholder {
            color: #aaa; /* Placeholder color */
            opacity: 1; /* Ensure placeholder is fully opaque */
        }

        input:focus::placeholder {
            color: transparent; /* Hide placeholder on focus */
    }


/* Slide Show */

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/bg-image1.jpg');
  background-size: cover;
  background-position: center;
  animation: slide 12s infinite; /* Change duration as needed */
}

/* Index Page */
.container {
    width: 100%;
    height: 100%;
    z-index: 55;
    position: relative;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .title-form {
    text-align: center;
    color: #333;
  }
  
  form {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    max-width: 750px;
    border-radius: 5px;
    background-color: #f5f5f5;
    opacity: 0; 
    transform: scale(0); 
    animation: popUp 0.7s forwards;
  }

  .personal-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .movie-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .title {
    color:#575757;
    font-size: 20px;
  }

  .input-container {
    width: 100%;
    display: flex;
    gap:24px;
    justify-content: space-between;
  }

  .uploader-contianer {
    width:200px;
    height:120px
  }

  .uploader {
    width:100%;
    height: 100%;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: white;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
  }
  .uploader:hover {
    border-color: #75acb4; /* MUI primary color */
  }

  .uploader p {
    color: #888;
    margin: 0;
  }
  .uploader img {
    width:60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: -10px;
    opacity: 0.6;
  }
  .movie-info .uploader img {
    opacity: 0.4;
  }

  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-wrapper button {
    width: 260px;
    height: 44px;
    font-size: 18px;
  }


  /* Success Page */

  /* .success-container {

  } */






  /* Animations */

  @keyframes slide {
    0% {
        background-image: url('images/bg-image1.jpg');
    }
    33% {
        background-image: url('images/bg-image2.jpg');
    }
    66% {
        background-image: url('images/bg-image4.jpg');
    }
    100% {
        background-image: url('images/bg-image5.webp'); /* Loop back to the first image */
    }
  }
  

  @keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


  



    